name: test

on:
  pull_request:
    branches:
      - main

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: "16"
          cache: "npm"
          cache-dependency-path: package-lock.json
      - run: npm config set fund false && npm set audit false
      - run: npm ci --workspaces
      # Test that the packaging works as well
      - run: npm pack --workspace packages/cli
      - run: npm run lint --workspace packages/cli
  test:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
    name: test - ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: "16"
          cache: "npm"
          cache-dependency-path: package-lock.json
      - run: npm config set fund false && npm set audit false
      - run: npm ci --workspaces
      - run: npm run test --workspace packages/cli
      - run: npm run test:e2e --workspace packages/cli
        env:
          CHECKLY_ACCOUNT_NAME: ${{ secrets.E2E_CHECKLY_ACCOUNT_NAME }}
          CHECKLY_ACCOUNT_ID: ${{ secrets.E2E_CHECKLY_ACCOUNT_ID }}
          CHECKLY_API_KEY: ${{ secrets.E2E_CHECKLY_API_KEY }}
  publish-prerelease:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      # Setup .npmrc file to publish to npm
      - uses: actions/setup-node@v3
        with:
          node-version: '16.x'
          registry-url: 'https://registry.npmjs.org'
      # Ensure that the README is published with the package
      - run: rm -f packages/cli/README.md && cp README.md packages/cli
      - run: npm ci --workspace packages/cli
      - run: npm version prerelease --preid=canary-${{github.event.pull_request.number}} --workspace packages/cli
      - run: npm publish --workspace packages/cli --tag next-canary-${{github.event.pull_request.number}}
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
