name: Test

on:
  pull_request:
    branches:
      - main

jobs:
  test:
    name: Smoke Test
    runs-on: ubuntu-latest
    env:
      GITHUB_ACCESS_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '14'
          cache: 'npm'
      - run: npm install
      - name: Login
        run: ./bin/run login --api-key ${{ secrets.USER_API_KEY_TEST }} --account-id ${{ secrets.USER_ACCOUNT_TEST }}
      - name: Project init
        run: ./bin/run init test-project-1 --skipSetup
      - name: Initial deploy
        run: ./bin/run deploy
      - name: Print existing checks
        run: ./bin/run checks
      - name: Change check name
        run: sed -i 's/API Check/New API Check/' .checkly/checks/example-api.yml
      - name: Deploy updated check
        run: ./bin/run deploy
      - name: Delete example api check
        run: rm .checkly/checks/example-api.yml
      - name: Deploy updated check
        run: ./bin/run deploy
      - name: Delete created project
        run: ./bin/run projects delete
      - name: Slack Failure Notification
        if: ${{ failure() }}
        uses: rtCamp/action-slack-notify@v2
        env:
          SLACK_COLOR: ${{ job.status }}
          SLACK_TITLE: Test Failed!
          SLACK_MESSAGE: By <@${{ github.actor }}>
          SLACK_USERNAME: Checkly Github Bot
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
          SLACK_CHANNEL: eng-ci
          SLACK_ICON: https://github.com/checkly.png?size=48
          SLACK_LINK_NAMES: true
          SLACK_FOOTER: ''
